*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    background-color: #171717;
    color: #f8fafc;
    font-family: 'Roboto', sans-serif;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.height-map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    border: 1px solid #f3f3f3;
    width: 256px;
    height: 256px
}

.color-map {
    position: absolute;
    top: 256px;
    left: 0;
    z-index: 999;
    border: 1px solid #f3f3f3;
    width: 256px;
    height: 256px
}


.container {
    padding: 150px 200px;
}

.product-title {
    font-size: 36px;
}

.button-wrapper { 
    margin-top: 50px;
    width: 100%; 
    justify-content: space-between; 
    display: flex;
}

.button {
    border: 1px solid #f8fafc;
    padding: 50px;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    border-radius: 8px;
}

.button:hover {
    background-color: #f8fafc;
    color: #171717;
}

.home-button {
    position: fixed;
    bottom: 50px;
    right: 100px;
    text-decoration: none;
    color: #f8fafc;
    font-size: 20px;
}

.generate-button {
    width: 200px;
    position: fixed;
    bottom: 50px;
    right: 800px;
    text-decoration: none;
    color: #f8fafc;
    font-size: 16px;
    border: 1px solid #f8fafc;
    padding: 15px 20px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
}

.download-button {
    width: 200px;
    position: fixed;
    bottom: 50px;
    right: 400px;
    text-decoration: none;
    color: #171717;
    font-size: 16px;
    border: 1px solid #f8fafc;
    background-color: #f8fafc;
    padding: 15px 20px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
}

.camera-button {
    width: 200px;
    position: fixed;
    top: 50px;
    right: 50px;
    text-decoration: none;
    color: #171717;
    font-size: 16px;
    border: 1px solid #f8fafc;
    background-color: #f8fafc;
    padding: 15px 20px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
}

.wireframe-button {
    width: 200px;
    position: fixed;
    top: 120px;
    right: 50px;
    text-decoration: none;
    color: #171717;
    font-size: 16px;
    border: 1px solid #f8fafc;
    background-color: #f8fafc;
    padding: 15px 20px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
}

.instructions {
    width: 200px;
    position: fixed;
    top: 200px;
    right: 50px;
    text-decoration: none;
    color: #171717;
    font-size: 16px;
    border: 1px solid #f8fafc;
    background-color: #f8fafc;

    padding: 15px 20px;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    border-radius: 6px;
}