*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.height-map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    border: 1px solid white;
    width: 256px;
    height: 256px
}